

.image {
  width: 100%;
  // height: 80vh;
  // object-fit: cover;
  &--bg {
    width: 100%;
  height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.lazyload {
  &.blur-in {
    filter: blur(5px);
    transform: scale(0.99);
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1), filter 0.5s linear;
    will-change: filter, transform;
  }
  &.loaded {
    transform: scale(1);
    filter: blur(0);
  }
}